.listingWrapper {
  height: 97vh;
  width: 30vw;
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 240, 247);
  border-radius: 20px;
  border: 2px solid #315f72;
  height: 100em;
  margin-top: 15px;
}

.listingForm-wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  max-width: 80%;
  min-width: 100px;
  min-height: 400px;
  padding: 20px 40px;
}

.listingHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #315f72;
}

.title,
.description,
.category,
.imageUpload {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
  color: #f57e7e !important;
}

.descriptionInput {
  padding: 10px 10px;
  border-radius: 5px;
  height: 40px;
  outline: none;
  border: 1px solid #d6d1d5;
}

.listingButton {
  min-width: 100%;
  cursor: pointer;
  margin-right: 0.25em;
  margin-top: 10%;
  padding: 0.938em;
  border: none;
  border-radius: 4px;
  background-color: #f57e7e !important;
  color: #fefefe;
}

.listingButton:hover {
  transform: scale(1.05);
  color: #fefefe;
}

.submit {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.radioOptions {
  margin-left: 20px;
  margin-top: 10px;
}

#container-MyListingsCards {
  display: flex;
}

.child-card-image {
  position: relative;
  max-height: 35vh !important;
  min-height: 28vh;
  margin-top: 15px;
  justify-content: center;
  border: 2px solid #315f72;
}

.CardBody {
  background-color: white;
  justify-content: center;
}

.cardDeckCss {
  position: relative;
  /* background-color: rgb(221, 247, 224); */
  z-index: 0;
  margin-top: px;
  padding: 12px;
  border-top-left-radius: 30px;
}

.CardCss {
  text-align: center;
  width: 300px;
  height: 400px;
  padding: 6px;
  border: 1px solid #315f72 !important;
  max-width: 250px;
  border-radius: 30px !important;
}

.child-card-title {
  color: #315f72;
  font-size: 100%;
  border: 2px solid #f57e7e;
  background-color: #eed0c7;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-height: 80px;
  min-height: 40px;
  flex-wrap: wrap;
  padding-top: 5px;
}

.gallery-description-button {
  border: 2px solid #eed0c7 !important;
  background-color: #f57e7e !important;
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  position: absolute;
  bottom: 20px;
  right: 46px;
  justify-content: center;
  align-content: center;
  color: white !important;
  width: 150px;
  font-size: small !important;
}

.gallery-description-button:hover {
  transform: scale(1.1);
}

.gallery-div {
  background-color: rgb(190, 216, 193);
  border-top: 40px solid #315f72;
  border-right: 15px solid #315f72;
  border-left: 15px solid #315f72;
  border-bottom: 15px solid #315f72;
  z-index: 10;
}

.usernameListings {
  background-color: rgb(190, 216, 193);
  color: #315f72;
  display: flex;
  justify-content: center;
  height: 10vh;
  margin-right: 15vw;
  margin-left: 15vw;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 30px;
}

/* MyListingPageCards */

#container-MyPageCards {
  background-color: rgb(255, 253, 231);
  text-align: center;
  width: 300px;
  height: 400px;
  padding: 6px;
  border: 2px solid #315f72 !important;
  max-width: 500px;
  border-radius: 30px !important;
  overflow: scroll;
  text-overflow: ellipsis;
}

#myTitle {
  color: #315f72;
  font-weight: bold;
}

#description2 {
  color: #f57e7e;
  border: 1px solid #eed0c7;
  padding: 10px;
  border-radius: 10px;
}

#category2 {
  color: #315f72;
}

.edit-delete-btns {
  display: flex;
  padding: 10px;
  justify-content: right;
  align-content: right;
  position: relative;
  margin-left: 18em;
}

.edit-button1 {
  background-color: #315f72 !important;
  margin-right: 10px;
  color: white !important;
}

.delete-button1 {
  background-color: red !important;
  color: white;
}

.delete-button1:hover {
  color: white !important;
}

/* GALLERY MODAL */

.gallery-modal {
  color: #315f72 !important;
  display: flex;
  justify-content: center;
  text-align: center;
}

.gallery-modal-header {
  font-size: 30px !important;
  text-align: center;
  color: #f57e7e;
}

.gallery-div-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
}

/* Edit MODAL */

.edit-modal-header {
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #315f72;
  color: white;
}
