#sitebarHome {
  font-size: 20px;
  justify-content: center;

  color: #315f72;
  text-decoration: none !important;
  margin: 0px auto;
}

#nav-row {
  background: lightblue;
  padding: 10px;
  margin: 0px auto;
}

.sitebar {
  display: flex;
}

#sitebar {
  display: flex;
  justify-content: center;
}
.siteBarBrand {
  color: #f57e7e;
}

#brand {
  display: flex;

  font-family: fantasy;
  color: #f57e7e;
  font-size: 50px;
}

/* FOOTER */

.footerContainer {
  background-image: linear-gradient(#315f72, white);
}

#socialMediaFooter {
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 25px;
}

a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}

.social-container {
  padding: 10px;
  text-align: center;
  letter-spacing: 5px;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
  color: rgb(248, 229, 220);
}

/* BROWSE BAR */

.BrowseBarDiv {
  background-color: white;
  height: 17vh;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(white, #315f72);
  min-height: 115px;
}

.Logo {
  height: 150px;
}

/* DROPDOWN
============================================ */

#browsebar-dropdown {
  color: white !important;
  display: flex;

  margin-top: 60px;
  justify-content: center;
}

#browsebar-dropdown-header {
  color: white !important;
  border: 1px solid white;
}

.browsebar-dropdown-menu {
  border: none !important;
  background-image: linear-gradient(white, #315f72);
}

#browsebar-dropdown-header:hover {
  color: white !important;
  transform: scale(1.05);
  background-color: #315f72;
}

#selection-logo {
  transform: scaleX(-1);
  height: 30px;
}

.dd-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  padding: 0 20px;
  color: #f57e7e !important;
}

button {
  margin: 5px !important;
  display: flex;
  justify-content: space-between;
  color: #315f72 !important;
  font-size: 16px;
  padding: 10px 20px 10px;
  border: 0;
  width: 90%;
  text-align: left;
  border-radius: 10px !important;
}

button:hover,
button:focus {
  cursor: pointer;
  font-weight: bold;
  background-image: linear-gradient(#315f72, white);
}
